{% extends "dashboard.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="section__title">
                <h2 class="section__title-heading">
                    <span class="section__title-icon section__title-icon--left"></span>
                    {% block head_title %}{% trans "Password Reset" %}{% endblock %}<span
                        class="section__title-icon section__title-icon--right"
                ></span>
                </h2>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <span class="work__slider-icon work__slider-icon--right-price"></span>
                <div class="card__wrapper">
                    <div class="card__heading">
                        <h3 class="card__title"></h3>
                    </div>

                    <div class="card__text">


                            <p>На вашу электронную почту было отправлено письмо для сброса пароля</p>
                        <p class="login__link-dashboard">Вернуться на  <a href="{% url 'home' %}">главную</a></p>


                    </div>
                </div>
                <span class="work__slider-icon why__slider-icon--left"></span>
                <span class="work__slider-icon why__slider-icon--bottom"></span>
            </div>
        </div>
    </div>

    <!-- end adminka -->
{% endblock %}