{% load static %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}


            <li class="social__item-dashboard">
                <a class="social__link"
                   href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
                    <svg class="social__icon-dashboard">
                        <use xlink:href="#{{ provider.name }}"></use>
                    </svg>
                </a>
            </li>


        {% endfor %}
    {% endif %}


    <li class="social__item-dashboard">
        <a class="social__link-dashboard"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
            <svg class="social__icon-dashboard">
                <use xlink:href="#{{ provider.name }}"></use>
            </svg>
        </a>
    </li>

{% endfor %}
