{% extends "dashboard.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="section__title">
                <h2 class="section__title-heading">
                    <span class="section__title-icon section__title-icon--left"></span>
                    Оформить заказ<span
                        class="section__title-icon section__title-icon--right"
                ></span>
                </h2>
                <p class="section__title-text">Добрый день, {{ user.username }}!</p>
            </div>
        </div>
    </div>
    {% verbatim %}
    <div class="row" id="vueOrder">

        <div class="col-lg-7">
            <div class="card">
                <span class="work__slider-icon work__slider-icon--right-price"></span>
                <div class="card__wrapper">
                    <div class="card__heading">
                        <h3 class="card__title">Услуги</h3>
                    </div>
                    <div class="card__text">
                        <div class="row admin__wrapper">

                            <div class="col-lg-12">

                                <ul class="checked__list">
                                    <li class="list-item" v-for="service in services" ::key="service.product_id">
                                        <input type="checkbox" class="hidden-box" :checked="service.selected"
                                               @click="changeOrder(service)"/>
                                        <label for="third" class="check--label">
                                            <span class="check--label-box"></span>
                                            <span class="check--label-text">{{service.name}}</span>
                                            <h4 class="card__price-admin">
                                                {{service.price}}<sup>₽</sup>
                                            </h4>
                                        </label>
                                    </li>
                                </ul>

                            </div>


                        </div>

                    </div>

                </div>
                <span class="work__slider-icon why__slider-icon--left"></span>
                <span class="work__slider-icon why__slider-icon--bottom"></span>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <span class="work__slider-icon work__slider-icon--right-price"></span>
                <div class="card__wrapper">
                    <div class="card__heading">
                        <h3 class="card__title">Итого</h3>
                    </div>

                    <div class="card__text">

                        <ul class="checked__list">
                            <li class="list-item" v-for="product in selectedOrder" :key="product.name">
                                <label for="third" class="check--label">
                                    <span class="check--label-text">{{product.name}}</span>
                                    <h4 class="card__price-admin">
                                        {{product.price}}<sup>₽</sup>
                                    </h4>
                                </label>
                            </li>
                            <li class="list-item">
                                <label for="third" class="check--label"
                                       style="font-weight: bold !important; color: yellowgreen;">
                                    <span class="check--label-text">ИТОГО:</span>
                                    <h4 class="card__price-admin"
                                        style="font-weight: bold !important; color: yellowgreen;">
                                        {{itog}}<sup>₽</sup>
                                    </h4>
                                </label>
                            </li>
                        </ul>


                        <div class="card__button card__button--admin">
                            <a href="tel:+79184639571" class="card__button-price">Оплатить</a>
                        </div>
                    </div>
                </div>
                <span class="work__slider-icon why__slider-icon--left"></span>
                <span class="work__slider-icon why__slider-icon--bottom"></span>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <!-- end adminka -->
{% endblock %}